.carousel-container {
  position: relative;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.carousel-slide img {
  border-radius: 10px;
}

.carousel-controls {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
}

.prev-btn {
  border: 1px solid rgba(59, 59, 59, 1);
  background: rgba(255, 255, 255, 1);
  color: rgba(59, 59, 59, 1);
  margin: 5px;
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.next-btn {
  background: #BF0449;
  border: 1px solid #BF0449;
  padding: 5px 20px;
  border-radius: 27px;
  margin: 5px;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.next-btn img {
  filter: brightness(0) invert(1);
}
.legend h2 {
  font-family: "Sora";
  font-size: 20px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: left;
  margin-top: 0;
}
.legend p {
  font-family: "Sora";
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  margin-bottom: 0;
}

@media (max-width: 380px) {
  .legend h2 {
    font-size: 17px;
    line-height: 22px;
  }
  .legend p {
    font-size: 14px;
    line-height: 20px;
  }
  .carousel-slide img {
    height: 200px;
  }
}
