.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay-text {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
.overlay-text_div {
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-family: "Sora";
  font-size: 20px;
  font-weight: 300;
  line-height: 25.2px;
  text-align: center;
}
.overlay-text p {
  font-family: "Sora";
  font-size: 40px;
  font-weight: 700;
  line-height: 50.4px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin: 20px 0;
  max-width: 55%;
  margin: 10px auto;
}
.grow-btn {
  background-color: white;
  color: rgba(0, 0, 0, 1);
  padding: 10px 20px;
  font-family: Sora;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
  text-align: left;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0px 0px 1.9px 0px rgba(0, 0, 0, 0.25);
  border-radius: 37px;
  text-transform: uppercase;
}
.grow-btn:hover {
  color: white;
  background-color: black;
}
.scroll_lottie {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
.slottie {
  width: 19px;
  height: 30px;
  border: none;
}
.scroll_lottie p {
  font-family: "Inter";
  font-size: 10px;
  font-weight: 400;
  line-height: 12.1px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
@media screen and (max-width: 768px) {
  .overlay-text_div {
    font-size: 12px;
    font-weight: 400;
  }
  .overlay-text p {
    font-size: 20px;
    font-weight: 600;
    max-width: 100%;
    line-height: 25.2px;
  }
}
